<!DOCTYPE html>
<html ng-app='avengers'>
  <head>
    <meta charset="utf-8">
    <title>The Avengers</title>
      <link rel="stylesheet" href="./styles/base.css">
      <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body ng-controller='MainCtrl'>

    <section class="module parallax parallax-1">
    <div class="container">
        <h1>Meet The Avengers</h1>
    </div>

</section>

    <div class="group">
    <input type="text" required ng-model="myFilter">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Filter by...</label>
    </div>

    <div class="container">
        <div class="heroCard" ng-repeat="hero in heroes | filter:{name:myFilter}">
          <h3 class="heroName">{{ hero.name }}</h3>
          <div class="hero-image">
            <img ng-src="{{ hero.thumbnail.path}}.{{hero.thumbnail.extension}}"></div>
          <h4 class="description">Description</h4>
          <p class="descriptionText">{{ hero.description || "This hero needs no description!"}}</p>
        </div>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="./controllers/MainCtrl.js"></script>
  <script src="./services/dataService.js"></script>
  </body>
</html>
